<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Sign Up
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm">
                        <div class="form-group mb-3">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username"
                                [(ngModel)]="formData.username" required minlength="2" #username="ngModel"
                                [class.is-invalid]="signupForm.submitted && username.invalid">
                            <div *ngIf="signupForm.submitted && username.invalid" class="invalid-feedback">
                                <div *ngIf="username.errors?.['required']" class="text-danger">
                                    Username is required
                                </div>
                                <div *ngIf="username.errors?.['minlength']" class="text-danger">
                                    Username must be at least 6 characters long
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email"
                                [(ngModel)]="formData.email" required email #email="ngModel"
                                [class.is-invalid]="signupForm.submitted && email.invalid">
                            <div *ngIf="signupForm.submitted && email.invalid" class="invalid-feedback">
                                <div *ngIf="email.errors?.['required']" class="text-danger">
                                    Email is required
                                </div>
                                <div *ngIf="email.errors?.['email']" class="text-danger">
                                    Invalid email format
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                [(ngModel)]="formData.password" required minlength="8"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W)[a-zA-Z0-9\S]{8,}" #password="ngModel"
                                [class.is-invalid]="signupForm.submitted && password.invalid">
                            <div *ngIf="signupForm.submitted && password.invalid" class="invalid-feedback">
                                <div *ngIf="password.errors?.['required']" class="text-danger">
                                    Password is required
                                </div>
                                <div *ngIf="password.errors?.['pattern']" class="text-danger">
                                    Password should be at least 8 characters long and contain at least one uppercase
                                    letter, one lowercase letter, one number, and one symbol
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="d-flex align-items-center">
                                <div class="d-flex align-items-center">
                                    <button class="btn btn-secondary mr-4" [ngClass]="{'btn-danger': !signatureDataUrl}"
                                        (click)="showSignatureModal($event)">Add Signature</button>
                                    <div *ngIf="!signatureDataUrl" class="text-danger ml-4">
                                        Please add your signature
                                    </div>
                                    <div *ngIf="signatureDataUrl" class="text-success ml-4">
                                        Signature Added
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <!-- Modal template -->
                    <ng-template #signatureModal let-modal>
                        <div class="modal-modal">
                            <div class="modal-header">
                                <h4 class="modal-title">Please sign your signature</h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <app-signaturepad (closeModalEvent)="closeModal()"
                                    (signatureDataUrlEmitter)="handleSignatureDataUrl($event)"></app-signaturepad>
                            </div>
                        </div>
                    </ng-template>
                    <!-- Modal template -->
                    <ng-template #signupSuccessModal let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title">Sign up successful!</h4>
                            <button type="button" class="close" aria-label="Close" [routerLink]="['/login']"
                                (click)="modal.dismiss()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Congratulations, your sign up was successful!</p>
                        </div>
                    </ng-template>

                    <!-- Modal template -->
                    <ng-template #signupFailureModal let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title">Sign up failed!</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{{ message }} </p>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>