<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Please sign in
                </div>
                <div class="card-body">
                    <form class="form-signin" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
                        <div class="form-group mb-3">
                            <label for="username">Username</label>
                            <input type="username" id="username" class="form-control" placeholder="Username" required
                                [(ngModel)]="signInData.username" name="username" #username="ngModel"
                                [class.is-invalid]="signInForm.submitted && username.invalid">
                            <div *ngIf="signInForm.submitted && username.invalid" class="invalid-feedback">
                                <div *ngIf="username.errors?.['required']" class="text-danger">
                                    Username is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="inputPassword">Password</label>
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                required [(ngModel)]="signInData.password" name="password" #password="ngModel"
                                [class.is-invalid]="signInForm.submitted && password.invalid">
                            <div *ngIf="signInForm.submitted && password.invalid" class="invalid-feedback">
                                <div *ngIf="password.errors?.['required']" class="text-danger">
                                    Password is required
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group mb-3">
                            <div class="d-flex align-items-center">
                                <div class="d-flex align-items-center">
                                    <button class="btn btn-secondary mr-4" [ngClass]="{'btn-danger': !signatureDataUrl}"
                                        (click)="showSignatureModal($event)">Verify</button>
                                    <div *ngIf="!signatureDataUrl" class="text-danger ml-4">
                                        Verify Yourself
                                    </div>
                                    <div *ngIf="signatureDataUrl" class="text-success ml-4">
                                        Signature Added
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        <a class="nav-link" [routerLink]="['/reset']">Forget Your Password?</a>
                        <ngb-toast class="mt-3" *ngIf="loginError" header="Login Error" [autohide]="true"
                            (hide)="loginError=false">
                            Incorrect username or password. Please try again.
                        </ngb-toast>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal template -->
<!-- <ng-template #signatureModal let-modal>
    <div class="modal-modal">
        <div class="modal-header">
            <h4 class="modal-title">Please sign your signature</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <app-gotchapad (closeModalEvent)="closeModal()"
            (gotchaDataEmitter)="handleGotchaData($event)">></app-gotchapad>
        </div>
    </div>
</ng-template> -->