<div class="card">
    <div class="card-header">Please sign in</div>
    <div class="card-body">
        <form class="form-signin" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
            <label for="username" class="sr-only">username</label>
            <input type="username" id="username" class="form-control mb-2" placeholder="Username" required
                [(ngModel)]="signInData.username" name="username" #username="ngModel"
                [class.is-invalid]="signInForm.submitted && username.invalid">
            <div *ngIf="signInForm.submitted && username.invalid" class="invalid-feedback">
                <div *ngIf="username.errors?.['required']" style="color: red">
                    Email is required
                </div>
                <!-- <div *ngIf="email.errors?.['pattern']" style="color: red">
                    Invalid email format
                </div> -->
            </div>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control mb-2" placeholder="Password" required
                [(ngModel)]="signInData.password" name="password" #password="ngModel"
                [class.is-invalid]="signInForm.submitted && password.invalid">
            <div *ngIf="signInForm.submitted && password.invalid" class="invalid-feedback mb-3">
                <div *ngIf="password.errors?.['required']" style="color: red">
                    Password is required
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <ngb-toast class="mt-3" *ngIf="loginError" header="Login Error" [autohide]="true" (hide)="loginError=false">
                Incorrect email or password. Please try again.
            </ngb-toast>
        </form>
    </div>
</div>